{{#if faqs}}
    <div>
        {{#each faqs}}
            <div style="margin: 25px; padding: 25px; border-radius: 25px; background-color: cornflowerblue;">
                {{title}}<hr/>{{content}}
            </div>
        {{/each}}
    </div>
{{else}}
    <p>Brak danych do wyświetlenia.</p>
{{/if}}