<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
    <nav style="display: flex; justify-content: space-around;">
        <a href="/">CarFLOw.site</a>
        <a href="/organizacje">ORGANIZACJE</a>
        <a href="/blog">BLOG</a>
        <a href="/faq">FAQ</a>
        <a href="/kontakt">KONTAKT</a>
    </nav>
{{{body}}}

</body>
</html>