<h2>Strona nie została odnaleziona</h2>
<p>
    Wygląda na to iż nie ma takiej strony, ale mamy dla Ciebie dużo ciekawych materiałów i funkcjonalności.
</p>
<hr/>
<div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; ">
    <div style="margin: 25px; padding: 25px; border-radius: 25px; background-color: blanchedalmond; width: 24%;">
        Blog<hr/>

    </div>
    <div style="margin: 25px; padding: 25px; border-radius: 25px; background-color: blanchedalmond; width: 24%;">
        Najnowsze wypożyczalnie<hr/>

    </div>
    <div style="margin: 25px; padding: 25px; border-radius: 25px; background-color: blanchedalmond; width: 24%;">
        Najwyżej oceniane wypożyczalnie<hr/>

    </div>
    <div style="margin: 25px; padding: 25px; border-radius: 25px; background-color: blanchedalmond; width: 24%;">
        Polecane<hr/>

    </div>
</div>