<h2>Niespodziewany błąd {{status}}: {{message}}</h2>
<p>
    Przepraszamy, ale czasami tak się zdaży iż w rozbudowanym systemie informatycznym wystąpią pewne błędy.<br/>
    Już pracujemy nad poprawą tej części naszego serwisu w celu wyeliminowania tego problemu w przyszłości.
</p>
<hr/>
<div style="margin-bottom: 15px;">
    Jeżeli potrzebujesz pomocy naszych administratorów, skorzystaj z poniższego formularza.
</div>
<form action="" style="background-color: #dcd7d7; padding: 25px; border-radius: 25px; text-align: center;">
    <span style="color: cornflowerblue;">
        Ten formularz pod spodem będzie wykorzystywał serwis do wysyłania email w celu przesłania zgłoszenia na adres:
        zgloszenia@carflow.site
    </span><br/><br/>
    <label for="author">Twój email <span style="color: red;">( Wymagane )</span></label><br/>
    <input type="email" name="author" id="author" placeholder="twoj.email@example.com" required/><br/><br/>
    <label for="subject">Temat wiadomości:</label><br/>
    <input type="text" name="subject" id="subject" value="Błąd: {{status}}, {{message}}." required/><br/><br/>
    <label for="message">Treść zgłoszenia: <span style="color: red;">( Wymagane )</span></label><br/>
    <textarea name="message" id="message" cols="30" rows="10"  placeholder="Tutaj opisz jak doszło do powstania błędu." required></textarea><br/><br/>

    <input type="submit" value="Wyślij" style="background-color: #cbf6cb; color: green; border: none; border-radius: 5px; padding: 5px; font-size: 125%;"><br/><br/>
    <input type="reset" value="Reset" style="background-color: #fca0a0; color: red; border: none; border-radius: 5px; padding: 5px;">
</form>