<div style="text-align: center; margin-top: 25px;">
    CarFLOw.Site<br/>
    ul. Wymyślona 21<br/>
    84-242 Nibylandia<br/>
    Polska
</div>
<div style="text-align: center; margin-top: 25px;">
    Tel.: <a href="tel:+48543945493">+48 543-945-493</a><br/>
    E-mail: <a href="mailto:kontakt@carflow.site">kontakt@carflow.site</a>
</div>
<div style="text-align: center; margin-top: 25px;">
    Aby szybko nawiązać z nami kontakt zapraszam do skorzystania z formularza kontaktowego.<br/>
    <form action="" style="background-color: #dcd7d7; padding: 25px; border-radius: 25px; text-align: center;">
    <span style="color: cornflowerblue;">
        Ten formularz pod spodem będzie wykorzystywał serwis do wysyłania email w celu przesłania zgłoszenia na adres:
        kontakt@carflow.site
    </span><br/><br/>
        <label for="author">Twój email <div style="color: red;">( Wymagane )</div></label><br/>
        <input type="email" name="author" id="author" placeholder="twoj.email@example.com" required/><br/><br/>
        <label for="subject">Temat wiadomości: <div style="color: red;">( Wymagane )</div></label><br/>
        <select name="subject" id="subject" required>
            <option></option>
            <option>Reklamacje</option>
            <option>Inny temat</option>
        </select><br/><br/>
        <label for="message">Treść zgłoszenia: <div style="color: red;">( Wymagane )</div></label><br/>
        <textarea name="message" id="message" cols="30" rows="10"  placeholder="Tutaj wpisz treść wiadomości." required></textarea><br/><br/>



        <input type="submit" value="Wyślij" style="background-color: #cbf6cb; color: green; border: none; border-radius: 5px; padding: 5px; font-size: 125%;"><br/><br/>
        <input type="reset" value="Reset" style="background-color: #fca0a0; color: red; border: none; border-radius: 5px; padding: 5px;">
    </form>
</div>