<div style="display: flex; justify-content: center; flex-wrap: wrap;">
    <a href="/zbigrent" style="text-align:center; width: 25%; border-radius: 25px; padding: 25px; margin: 25px; background-color: #dcd7d7;">
        ZbigRent
    </a>
    <a href="/florent" style="text-align:center; width: 25%; border-radius: 25px; padding: 25px; margin: 25px; background-color: #dcd7d7;">
        FloRent
    </a>
    <a href="/panrent" style="text-align:center; width: 25%; border-radius: 25px; padding: 25px; margin: 25px; background-color: #dcd7d7;">
        PanRent
    </a>
    <a href="/viorent" style="text-align:center; width: 25%; border-radius: 25px; padding: 25px; margin: 25px; background-color: #dcd7d7;">
        VioRent
    </a>
</div>
