{{#if organizations}}
    <div style="display: flex; justify-content: center; flex-wrap: wrap;">
        {{#each organizations}}
            <a href="/{{slug}}" style="text-align:center; width: 25%; border-radius: 25px; padding: 25px; margin: 25px; background-color: #dcd7d7;">
                {{name}}
            </a>
        {{/each}}
    </div>
{{else}}
    <p>Brak danych do wyświetlenia.</p>
{{/if}}
